[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "*"
grpcio = "*"
msgpack = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
fix = "autopep8 -ivr ."
lint = "flake8 ."
